# AI-assisted SQL joins

<center><img src="fire_truck.png" width=600></center>

<br>

Welcome to today's webinar! We are going to explore how the London Fire Brigade's animal rescue efforts correlate with city-wide census data. 

### ðŸ“Š Our data

This project will use an aggregated and filtered (2011 only) version of the data from the [London Fire Brigade](https://data.london.gov.uk/dataset/animal-rescue-incidents-attended-by-lfb-2ogkn/) and the [2011 Census of the United Kingdom](https://data.london.gov.uk/dataset/census-2011-population-by-age-uk-districts-2jkq6/). In this case, the data is saved to a BigQuery database. You can find the tables in the `public` schema.

<br>

**Table 1: `animal_rescues_summary`**
| Column | Description |
|---|---|
| `area_code` | Geographic code. |
| `area` | Name of the London borough. |
| `nb_incidents` | Number of animal rescues. |
| `total_nb_units_deployed` | Number of fire units/vehicles used. |
| `total_service_duration_hrs` | Total time of all rescues. |
| `avg_hourly_cost` | The average cost per hour for the rescue. |

<br>

**Table 2: `census_data`**
| Column | Description |
|---|---|
| `area_code` | Geographic code. |
| `area` | Name of the UK borough. |
| `region` | Name of the region the borough belongs to. |
| `nb_residents` | Total population in the borough. |
| `age_0_to_14`, `age_15_to_24`, `age_25_to_64`, `age_over_65` | Age demographic counts. |


### ðŸ¤– The AI Workflow
When solving a question, follow the following steps:
1. Think about the data you have and what you want to achieve.
2. Write a natural language prompt.
3. Understand the code generated by the AI.
4. Check the AIâ€™s code for errors or hallucinations.
5. Run the code and verify the results.
6. Iterate

### Task 1: Recap & relational intro

Before we can combine data, we need to see how they relate. Relational databases work because tables share a common "key."

Let's look at the first 5 rows of our rescue data.

> ðŸ’¡ **AI Prompting Tip**: Make sure to provide context about the data you are querying. Tell the AI what the files are so it remembers them for future steps.

**Solution prompt:**
> Look at the first 5 rows of animal_rescues_summary

Note that there are many prompts that will get the AI to write the correct SQL code. We'll provide some example solution prompts but you could have got the same output using a different prompt.

In [16]:
SELECT *
FROM animal_rescues_summary
LIMIT 5;

   area_code            area  ...  total_service_duration_hrs  avg_hourly_cost
0  E09000028       Southwark  ...                          43            260.0
1  E09000022         Lambeth  ...                          31            260.0
2  E09000016        Havering  ...                          37            260.0
3  E09000031  Waltham Forest  ...                          49            260.0
4  E09000030   Tower Hamlets  ...                          36            260.0

[5 rows x 6 columns]

Now, let's look at the census data. Do you see the column that exists in both?

**Solution prompt:**
> Look at the first 5 rows of census_data

In [17]:
SELECT *
FROM census_data
LIMIT 5

   area_code          area  ... age_25_to_64  age_over_65
0  E07000223          Adur  ...        31406        13434
1  W06000001      Anglesey  ...        35303        15646
2  E07000026     Allerdale  ...        50892        20033
3  E07000032  Amber Valley  ...        65999        22779
4  E07000224          Arun  ...        73046        39328

[5 rows x 8 columns]

### Task 2: Simple INNER JOIN & table aliases

In SQL, joining is the process of combining rows from two or more tables based on a related column between them. It allows you to query data that is spread across different parts of a database as if it were a single set.

The `INNER JOIN` is the most common type of join. It acts like a filter: it only returns rows where there is a match in both tables.
- If a row in Table A **has** a corresponding value in Table B, those rows are merged and included in the results.
- If a row in Table A **doesn't** have a match in Table B (or vice-versa), that row is excluded from the final output entirely.

<br>

![ing_inner_join](img_inner_join.png)

Let's combine the tables using the column that exists in both tables! 

> ðŸ’¡ **AI Prompting Tip**: Unless you specify otherwise, AI will typically default to a `JOIN`, which is the same as `INNER JOIN`.

**Solution prompt:**
> Combine animal_rescues_summary with census_data using area

In [18]:
SELECT *
FROM animal_rescues_summary AS rescues
	INNER JOIN census_data AS population
		ON rescues.area_code = population.area_code

    area_code                    area  ...  age_25_to_64  age_over_65
0   E09000002    Barking And Dagenham  ...         95188        19321
1   E09000005                   Brent  ...        176716        32676
2   E09000004                  Bexley  ...        119910        37212
3   E09000003                  Barnet  ...        194577        47432
4   E09000006                 Bromley  ...        166556        52037
5   E09000007                  Camden  ...        128315        23977
6   E09000008                 Croydon  ...        197648        44375
7   E09000009                  Ealing  ...        194143        36227
8   E09000010                 Enfield  ...        165648        38833
9   E09000011               Greenwich  ...        140139        26116
10  E09000016                Havering  ...        123365        42277
11  E09000012                 Hackney  ...        145393        17395
12  E09000017              Hillingdon  ...        144295        35178
13  E09000013  Hammersmith And Fulham  ...        112805        16413
14  E09000018                Hounslow  ...        145240        26859
15  E09000015                  Harrow  ...        129292        33667
16  E09000014                Haringey  ...        150348        22369
17  E09000019               Islington  ...        125846        18036
18  E09000020  Kensington And Chelsea  ...         98492        19115
19  E09000021    Kingston Upon Thames  ...         87862        20358
20  E09000022                 Lambeth  ...        187308        23187
21  E09000023                Lewisham  ...        158803        26135
22  E09000001          City Of London  ...          5011         1035
23  E09000024                  Merton  ...        116999        23122
24  E09000025                  Newham  ...        168589        20593
25  E09000026               Redbridge  ...        149585        33385
26  E09000027    Richmond Upon Thames  ...        108492        25296
27  E09000029                  Sutton  ...        105251        27233
28  E09000028               Southwark  ...        172594        22329
29  E09000030           Tower Hamlets  ...        145602        15570
30  E09000031          Waltham Forest  ...        144776        25566
31  E09000032              Wandsworth  ...        195217        26911
32  E09000033             Westminster  ...        136387        24514

[33 rows x 14 columns]

When we join tables, we often run into "Ambiguous Column" errors. Both tables have an `area` column. If we just ask for `area`, SQL won't know which one to pick.

Select the area from the incidents table, the number of incidents, and the number of residents. Leverage aliases to make it clear what table you are getting the data from.

**Solution prompt:**
> Combine area and number of incidents from animal_rescues_summary (rescues) with number of residents from census_data (census).

In [19]:
SELECT  
	rescues.area AS rescue_area, 
	rescues.nb_incidents,
	population.nb_residents
FROM animal_rescues_summary AS rescues
	INNER JOIN census_data AS population
		ON rescues.area_code = population.area_code

               rescue_area  nb_incidents  nb_residents
0     Barking And Dagenham            15        185911
1                    Brent            19        311215
2                   Bexley             9        231997
3                   Barnet            26        356386
4                  Bromley            25        309392
5                   Camden            19        220338
6                  Croydon            23        363378
7                   Ealing            25        338449
8                  Enfield            25        312466
9                Greenwich            14        254557
10                Havering            28        237232
11                 Hackney            19        246270
12              Hillingdon            22        273936
13  Hammersmith And Fulham            14        182493
14                Hounslow            16        253957
15                  Harrow             7        239056
16                Haringey            19        254926
17               Islington            27        206125
18  Kensington And Chelsea            14        158649
19    Kingston Upon Thames            11        160060
20                 Lambeth            28        303086
21                Lewisham            22        275885
22          City Of London             3          7375
23                  Merton            11        199693
24                  Newham            23        307984
25               Redbridge            15        278970
26    Richmond Upon Thames             9        186990
27                  Sutton            14        190146
28               Southwark            34        288283
29           Tower Hamlets            28        254096
30          Waltham Forest            28        258249
31              Wandsworth             9        306995
32             Westminster            19        219396

Let's refine that list and order it by the areas with the most incidents.

**Solution prompt:**
> Order by most incidents

In [20]:
SELECT 
    rescues.area AS rescue_area, 
	rescues.nb_incidents,
	population.nb_residents
FROM animal_rescues_summary AS rescues
    INNER JOIN census_data AS population 
        ON rescues.area_code = population.area_code
ORDER BY nb_incidents DESC

               rescue_area  nb_incidents  nb_residents
0                Southwark            34        288283
1           Waltham Forest            28        258249
2            Tower Hamlets            28        254096
3                 Havering            28        237232
4                  Lambeth            28        303086
5                Islington            27        206125
6                   Barnet            26        356386
7                   Ealing            25        338449
8                  Bromley            25        309392
9                  Enfield            25        312466
10                  Newham            23        307984
11                 Croydon            23        363378
12              Hillingdon            22        273936
13                Lewisham            22        275885
14             Westminster            19        219396
15                   Brent            19        311215
16                  Camden            19        220338
17                 Hackney            19        246270
18                Haringey            19        254926
19                Hounslow            16        253957
20    Barking And Dagenham            15        185911
21               Redbridge            15        278970
22  Kensington And Chelsea            14        158649
23               Greenwich            14        254557
24                  Sutton            14        190146
25  Hammersmith And Fulham            14        182493
26    Kingston Upon Thames            11        160060
27                  Merton            11        199693
28    Richmond Upon Thames             9        186990
29                  Bexley             9        231997
30              Wandsworth             9        306995
31                  Harrow             7        239056
32          City Of London             3          7375

### Task 3: The power of LEFT JOIN

An `INNER JOIN` only shows records that exist in **both** tables. But what if we want to show every area in the census data, and only add the rescue data if itâ€™s available?

In that case we'd need a `LEFT JOIN`. This join is used when you want to keep all the records from the "left" table, even if there are no matches in the "right" table.
- If a match is found in the right table, the rows are combined normally.
- If there is no match, the columns from the right table will simply show as NULL.

<br>

![img_left_join](img_left_join.png)

Let's start by looking for rows in the census data that do not have a match in the rescue data. We'll use a `LEFT JOIN` for that.

> ðŸ’¡ **AI Prompting Tip**: Use words like "all records from" or "everything in Table A" to signal a LEFT JOIN to the AI.

**Solution prompt:**
> Look at all records from census_data enriched with animal_rescues_summary

In [21]:
SELECT *
FROM census_data AS population
	LEFT JOIN animal_rescues_summary AS rescues
		ON population.area_code = rescues.area_code

    area_code  area  ... total_service_duration_hrs  avg_hourly_cost
0        None  None  ...                        NaN              NaN
1        None  None  ...                        NaN              NaN
2        None  None  ...                        NaN              NaN
3        None  None  ...                        NaN              NaN
4        None  None  ...                        NaN              NaN
..        ...   ...  ...                        ...              ...
343      None  None  ...                        NaN              NaN
344      None  None  ...                        NaN              NaN
345      None  None  ...                        NaN              NaN
346      None  None  ...                        NaN              NaN
347      None  None  ...                        NaN              NaN

[348 rows x 14 columns]

Let's identify the areas without any rescue data. Select only the area, number of residents and number of incidents and filter for areas without rescue data.

**Solution prompt:**
> Select area, number of residents, and number of incidents. Filter for areas without animal_rescues_summary data.

In [29]:
SELECT 
	population.area, 
	population.nb_residents,
	rescues.nb_incidents
FROM census_data AS population
	LEFT JOIN animal_rescues_summary AS rescues 
		ON population.area_code = rescues.area_code
WHERE rescues.nb_incidents IS NULL

                   area  nb_residents  nb_incidents
0                  Adur         61182           NaN
1              Anglesey         69751           NaN
2             Allerdale         96422           NaN
3          Amber Valley        122309           NaN
4                  Arun        149518           NaN
..                  ...           ...           ...
310           Stevenage         83957           NaN
311     Welwyn Hatfield        110535           NaN
312  East Hertfordshire        137687           NaN
313           St Albans        140664           NaN
314           Gateshead        200214           NaN

[315 rows x 3 columns]

### Task 4: Metrics from joined data

The individual boroughs would like to know how much money they are spending on rescues per resident. Let's combine population data with cost to find a ratio: **rescue cost per resident.**

> ðŸ’¡ **AI Prompting Tip**: Describe the formula step-by-step. AI often struggles if you just say "calculate the cost." Instead, tell it which columns to multiply and what to name the result.

**Solution prompt:**
> Calculate the rescue cost per resident by multiplying the total service hours by the average hourly cost and then dividing by the total number of residents. Combine animal_rescues_summary with census_data using area_code.

In [23]:
SELECT 
    population.area, 
    (rescues.total_service_duration_hrs * rescues.avg_hourly_cost) / population.nb_residents AS cost_per_resident
FROM animal_rescues_summary AS rescues
	INNER JOIN census_data AS population 
		ON rescues.area_code = population.area_code

                      area  cost_per_resident
0     Barking And Dagenham           0.026572
1                    Brent           0.017544
2                   Bexley           0.012328
3                   Barnet           0.025534
4                  Bromley           0.024370
5                   Camden           0.024780
6                  Croydon           0.017888
7                   Ealing           0.021510
8                  Enfield           0.027459
9                Greenwich           0.016342
10                Havering           0.040551
11                 Hackney           0.021115
12              Hillingdon           0.027525
13  Hammersmith And Fulham           0.019946
14                Hounslow           0.018428
15                  Harrow           0.007613
16                Haringey           0.021418
17               Islington           0.037841
18  Kensington And Chelsea           0.026221
19    Kingston Upon Thames           0.024366
20                 Lambeth           0.026593
21                Lewisham           0.021676
22          City Of London           0.141017
23                  Merton           0.014322
24                  Newham           0.022793
25               Redbridge           0.014912
26    Richmond Upon Thames           0.012514
27                  Sutton           0.025980
28               Southwark           0.038781
29           Tower Hamlets           0.036836
30          Waltham Forest           0.049332
31              Wandsworth           0.009316
32             Westminster           0.026072

Let's clean that up by only including two decimals and ordering it. Who pays the most per residents?

**Solution prompt:**
> Include only two decimals for cost_per_resident and order by cost_per_resident in descending order.

In [24]:
SELECT 
    population.area, 
    ROUND((rescues.total_service_duration_hrs * rescues.avg_hourly_cost) / population.nb_residents, 2) AS cost_per_resident
FROM animal_rescues_summary AS rescues
	INNER JOIN census_data AS population 
		ON rescues.area_code = population.area_code
ORDER BY cost_per_resident DESC

                      area  cost_per_resident
0           City Of London               0.14
1           Waltham Forest               0.05
2                Islington               0.04
3                 Havering               0.04
4            Tower Hamlets               0.04
5                Southwark               0.04
6     Barking And Dagenham               0.03
7                   Barnet               0.03
8                  Enfield               0.03
9               Hillingdon               0.03
10  Kensington And Chelsea               0.03
11                 Lambeth               0.03
12                  Sutton               0.03
13             Westminster               0.03
14                Hounslow               0.02
15                  Newham               0.02
16               Greenwich               0.02
17                  Ealing               0.02
18                 Hackney               0.02
19                 Bromley               0.02
20  Hammersmith And Fulham               0.02
21                Haringey               0.02
22                 Croydon               0.02
23    Kingston Upon Thames               0.02
24                   Brent               0.02
25                Lewisham               0.02
26                  Camden               0.02
27                  Harrow               0.01
28               Redbridge               0.01
29    Richmond Upon Thames               0.01
30                  Bexley               0.01
31                  Merton               0.01
32              Wandsworth               0.01

Let's do something a little trickier. We'll do the same calculation, but now instead of by borough let's do it for the entire region. We'll need to use an aggregation to solve that question!

**Solution prompt:**
> Calculate the cost_per_resident by region

In [25]:
SELECT 
    population.region,
    ROUND((SUM(rescues.total_service_duration_hrs) * AVG(rescues.avg_hourly_cost)) / SUM(population.nb_residents), 2) AS cost_per_resident
FROM animal_rescues_summary AS rescues
	INNER JOIN census_data AS population 
		ON rescues.area_code = population.area_code
GROUP BY population.region
ORDER BY cost_per_resident DESC

   region  cost_per_resident
0  London               0.02

### Task 5: Filtering groups with HAVING

Remember: `WHERE` filters rows *before* they are grouped. `HAVING` filters the results *after* the aggregation.

<br>

![img_where_vs_having](img_where_vs_having.png)

Let's start by filtering for UK boroughs with more than 80,000 residents between 0 and 14 years old.

> ðŸ’¡ **AI Prompting Tip**: Typically, the AI is pretty good at identifying the correct clause to use. If you do find it struggling, you can specify timing in your prompt. Tell the AI to filter "individual rows" to trigger a `WHERE` clause, and filter the "final calculated results" to trigger a `HAVING` clause.

**Solution prompt:**
> Filter in census_data for areas with more than 80000 residents between 0 and 14 years old

In [26]:
SELECT *
FROM census_data
WHERE age_0_to_14 > 80000

   area_code           area  ... age_25_to_64  age_over_65
0  E08000025     Birmingham  ...       530720       138213
1  E08000032       Bradford  ...       267096        69392
2  E06000052       Cornwall  ...       273464       115241
3  E06000047  County Durham  ...       270373        92345
4  E08000034       Kirklees  ...       221400        64150
5  E08000035          Leeds  ...       388586       109598
6  E08000003     Manchester  ...       258468        47544
7  E08000019      Sheffield  ...       274050        85698
8  E06000054      Wiltshire  ...       246728        85488

[9 rows x 8 columns]

Now, let's first aggregate and then filter. Find regions with more than 100,000 residents over 65 years old.

**Solution prompt:**
> Group by region and filter census_data for regions with more than 100000 residents over 65 years old

In [27]:
SELECT 
	region, 
	SUM(age_over_65) AS total_age_over_65
FROM census_data
GROUP BY region
HAVING SUM(age_over_65) > 100000

                      region  total_age_over_65
0                 South East            1482020
1                       None             457456
2            East of England             865360
3                      Wales             562544
4                 North East             350936
5                 North West            1171155
6                     London             904749
7                 South West             850353
8   Yorkshire and The Humber             874571
9              West Midlands             945975
10             East Midlands             757954

Let's update that query to exclude the City Of London and order it appropriately.

**Solution prompt:**
> Also filter out any rows that have the "City Of London" area

In [28]:
SELECT 
	region, 
	SUM(age_over_65) AS total_age_over_65
FROM census_data
WHERE area <> 'City Of London'
GROUP BY region
HAVING SUM(age_over_65) > 100000
ORDER BY total_age_over_65 DESC

                      region  total_age_over_65
0                 South East            1482020
1                 North West            1171155
2              West Midlands             945975
3                     London             903714
4   Yorkshire and The Humber             874571
5            East of England             865360
6                 South West             850353
7              East Midlands             757954
8                      Wales             562544
9                       None             457456
10                North East             350936

### ðŸš€ Moving forward

AI is an incredible "Junior Developer," but it needs you to be a clear "Lead Architect." As you continue your AI data journey, keep these strategies in mind:

- **Deconstruct to construct**: For complicated requests, break the query into pieces! Don't ask the AI for a 50-line query at once. Ask for the join first, verify the data, and then prompt the AI to add aggregations or complex math.
- **Be the editor**: Always scrutinize the AIâ€™s output. Check that itâ€™s using the correct table aliases and watch out for "hallucinated" column names that don't exist in your schema.
- **The error loop**: If the AI gives you an error, don't give up. Copy and paste the exact error message back into the prompt. The AI is often better at fixing its own mistakes than writing perfect code on the first try.
- **Context is king**: Always start your session by telling the AI exactly which tables and columns you have. The better the AI understands your "world," the better its code will be.

Great job today! You are now ready to blend disparate data sources and find hidden insights using the power of AI.