# AI-assisted SQL joins

<center><img src="fire_truck.png" width=600></center>

<br>

Welcome to today's webinar! We are going to explore how the London Fire Brigade's animal rescue efforts correlate with city-wide census data. 

### ðŸ“Š Our data

This project will use an aggregated and filtered (2011 only) version of the data from the [London Fire Brigade](https://data.london.gov.uk/dataset/animal-rescue-incidents-attended-by-lfb-2ogkn/) and the [2011 Census of the United Kingdom](https://data.london.gov.uk/dataset/census-2011-population-by-age-uk-districts-2jkq6/). In this case, the data is saved to a BigQuery database. You can find the tables in the `public` schema.

<br>

**Table 1: `animal_rescues_summary`**
| Column | Description |
|---|---|
| `area_code` | Geographic code. |
| `area` | Name of the London borough. |
| `nb_incidents` | Number of animal rescues. |
| `total_nb_units_deployed` | Number of fire units/vehicles used. |
| `total_service_duration_hrs` | Total time of all rescues. |
| `avg_hourly_cost` | The average cost per hour for the rescue. |

<br>

**Table 2: `census_data`**
| Column | Description |
|---|---|
| `area_code` | Geographic code. |
| `area` | Name of the UK borough. |
| `region` | Name of the region the borough belongs to. |
| `nb_residents` | Total population in the borough. |
| `age_0_to_14`, `age_15_to_24`, `age_25_to_64`, `age_over_65` | Age demographic counts. |


### ðŸ¤– The AI Workflow
When solving a question, follow the following steps:
1. Think about the data you have and what you want to achieve.
2. Write a natural language prompt.
3. Understand the code generated by the AI.
4. Check the AIâ€™s code for errors or hallucinations.
5. Run the code and verify the results.
6. Iterate

### Task 1: Recap & relational intro

Before we can combine data, we need to see how they relate. Relational databases work because tables share a common "key."

Let's look at the first 5 rows of our rescue data.

> ðŸ’¡ **AI Prompting Tip**: Make sure to provide context about the data you are querying. Tell the AI what the files are so it remembers them for future steps.

In [1]:
SELECT *
FROM animal_rescues_summary;

    area_code  ... avg_hourly_cost
0   E09000028  ...           260.0
1   E09000022  ...           260.0
2   E09000016  ...           260.0
3   E09000031  ...           260.0
4   E09000030  ...           260.0
5   E09000019  ...           260.0
6   E09000003  ...           260.0
7   E09000006  ...           260.0
8   E09000010  ...           260.0
9   E09000009  ...           260.0
10  E09000025  ...           260.0
11  E09000008  ...           260.0
12  E09000023  ...           260.0
13  E09000017  ...           260.0
14  E09000005  ...           260.0
15  E09000033  ...           260.0
16  E09000012  ...           260.0
17  E09000007  ...           260.0
18  E09000014  ...           260.0
19  E09000018  ...           260.0
20  E09000026  ...           260.0
21  E09000002  ...           260.0
22  E09000013  ...           260.0
23  E09000011  ...           260.0
24  E09000029  ...           260.0
25  E09000020  ...           260.0
26  E09000021  ...           260.0
27  E09000024  ...           260.0
28  E09000032  ...           260.0
29  E09000004  ...           260.0
30  E09000027  ...           260.0
31  E09000015  ...           260.0
32  E09000001  ...           260.0

[33 rows x 6 columns]

Now, let's look at the census data. Do you see the column that exists in both?

In [2]:
SELECT *
FROM animal_rescues_summary
LIMIT 5;

   area_code            area  ...  total_service_duration_hrs  avg_hourly_cost
0  E09000028       Southwark  ...                          43            260.0
1  E09000022         Lambeth  ...                          31            260.0
2  E09000016        Havering  ...                          37            260.0
3  E09000031  Waltham Forest  ...                          49            260.0
4  E09000030   Tower Hamlets  ...                          36            260.0

[5 rows x 6 columns]

### Task 2: Simple INNER JOIN & table aliases

In SQL, joining is the process of combining rows from two or more tables based on a related column between them. It allows you to query data that is spread across different parts of a database as if it were a single set.

The `INNER JOIN` is the most common type of join. It acts like a filter: it only returns rows where there is a match in both tables.
- If a row in Table A **has** a corresponding value in Table B, those rows are merged and included in the results.
- If a row in Table A **doesn't** have a match in Table B (or vice-versa), that row is excluded from the final output entirely.

<br>

![ing_inner_join](img_inner_join.png)

Let's combine the tables using the column that exists in both tables! 

> ðŸ’¡ **AI Prompting Tip**: Unless you specify otherwise, AI will typically default to a `JOIN`, which is the same as `INNER JOIN`.

In [3]:
SELECT *
FROM animal_rescues_summary ars
INNER JOIN census_data cd
  ON ars.area_code = cd.area_code;

    area_code                    area  ...  age_25_to_64  age_over_65
0   E09000002    Barking And Dagenham  ...         95188        19321
1   E09000005                   Brent  ...        176716        32676
2   E09000004                  Bexley  ...        119910        37212
3   E09000003                  Barnet  ...        194577        47432
4   E09000006                 Bromley  ...        166556        52037
5   E09000007                  Camden  ...        128315        23977
6   E09000008                 Croydon  ...        197648        44375
7   E09000009                  Ealing  ...        194143        36227
8   E09000010                 Enfield  ...        165648        38833
9   E09000011               Greenwich  ...        140139        26116
10  E09000016                Havering  ...        123365        42277
11  E09000012                 Hackney  ...        145393        17395
12  E09000017              Hillingdon  ...        144295        35178
13  E09000013  Hammersmith And Fulham  ...        112805        16413
14  E09000018                Hounslow  ...        145240        26859
15  E09000015                  Harrow  ...        129292        33667
16  E09000014                Haringey  ...        150348        22369
17  E09000019               Islington  ...        125846        18036
18  E09000020  Kensington And Chelsea  ...         98492        19115
19  E09000021    Kingston Upon Thames  ...         87862        20358
20  E09000022                 Lambeth  ...        187308        23187
21  E09000023                Lewisham  ...        158803        26135
22  E09000001          City Of London  ...          5011         1035
23  E09000024                  Merton  ...        116999        23122
24  E09000025                  Newham  ...        168589        20593
25  E09000026               Redbridge  ...        149585        33385
26  E09000027    Richmond Upon Thames  ...        108492        25296
27  E09000029                  Sutton  ...        105251        27233
28  E09000028               Southwark  ...        172594        22329
29  E09000030           Tower Hamlets  ...        145602        15570
30  E09000031          Waltham Forest  ...        144776        25566
31  E09000032              Wandsworth  ...        195217        26911
32  E09000033             Westminster  ...        136387        24514

[33 rows x 14 columns]

When we join tables, we often run into "Ambiguous Column" errors. Both tables have an `area` column. If we just ask for `area`, SQL won't know which one to pick.

Select the area from the incidents table, the number of incidents, and the number of residents. Leverage descriptive aliases to make it clear what table you are getting the data from.

In [4]:
SELECT *
FROM animal_rescues_summary AS rescues
INNER JOIN census_data AS census
  ON rescues.area_code = census.area_code;

    area_code                    area  ...  age_25_to_64  age_over_65
0   E09000002    Barking And Dagenham  ...         95188        19321
1   E09000005                   Brent  ...        176716        32676
2   E09000004                  Bexley  ...        119910        37212
3   E09000003                  Barnet  ...        194577        47432
4   E09000006                 Bromley  ...        166556        52037
5   E09000007                  Camden  ...        128315        23977
6   E09000008                 Croydon  ...        197648        44375
7   E09000009                  Ealing  ...        194143        36227
8   E09000010                 Enfield  ...        165648        38833
9   E09000011               Greenwich  ...        140139        26116
10  E09000016                Havering  ...        123365        42277
11  E09000012                 Hackney  ...        145393        17395
12  E09000017              Hillingdon  ...        144295        35178
13  E09000013  Hammersmith And Fulham  ...        112805        16413
14  E09000018                Hounslow  ...        145240        26859
15  E09000015                  Harrow  ...        129292        33667
16  E09000014                Haringey  ...        150348        22369
17  E09000019               Islington  ...        125846        18036
18  E09000020  Kensington And Chelsea  ...         98492        19115
19  E09000021    Kingston Upon Thames  ...         87862        20358
20  E09000022                 Lambeth  ...        187308        23187
21  E09000023                Lewisham  ...        158803        26135
22  E09000001          City Of London  ...          5011         1035
23  E09000024                  Merton  ...        116999        23122
24  E09000025                  Newham  ...        168589        20593
25  E09000026               Redbridge  ...        149585        33385
26  E09000027    Richmond Upon Thames  ...        108492        25296
27  E09000029                  Sutton  ...        105251        27233
28  E09000028               Southwark  ...        172594        22329
29  E09000030           Tower Hamlets  ...        145602        15570
30  E09000031          Waltham Forest  ...        144776        25566
31  E09000032              Wandsworth  ...        195217        26911
32  E09000033             Westminster  ...        136387        24514

[33 rows x 14 columns]

In [15]:
SELECT 
	rescues.area,
	rescues.nb_incidents,
	census.nb_residents
FROM 
	animal_rescues_summary AS rescues
JOIN 
	census_data AS census
ON 
	rescues.area_code = census.area_code;

                      area  nb_incidents  nb_residents
0     Barking And Dagenham            15        185911
1                    Brent            19        311215
2                   Bexley             9        231997
3                   Barnet            26        356386
4                  Bromley            25        309392
5                   Camden            19        220338
6                  Croydon            23        363378
7                   Ealing            25        338449
8                  Enfield            25        312466
9                Greenwich            14        254557
10                Havering            28        237232
11                 Hackney            19        246270
12              Hillingdon            22        273936
13  Hammersmith And Fulham            14        182493
14                Hounslow            16        253957
15                  Harrow             7        239056
16                Haringey            19        254926
17               Islington            27        206125
18  Kensington And Chelsea            14        158649
19    Kingston Upon Thames            11        160060
20                 Lambeth            28        303086
21                Lewisham            22        275885
22          City Of London             3          7375
23                  Merton            11        199693
24                  Newham            23        307984
25               Redbridge            15        278970
26    Richmond Upon Thames             9        186990
27                  Sutton            14        190146
28               Southwark            34        288283
29           Tower Hamlets            28        254096
30          Waltham Forest            28        258249
31              Wandsworth             9        306995
32             Westminster            19        219396

Let's refine that list and order it by the areas with the most incidents.

In [16]:
SELECT 
	rescues.area,
	rescues.nb_incidents,
	census.nb_residents
FROM 
	animal_rescues_summary AS rescues
JOIN 
	census_data AS census
ON 
	rescues.area_code = census.area_code
ORDER BY 
	rescues.nb_incidents DESC;

                      area  nb_incidents  nb_residents
0                Southwark            34        288283
1           Waltham Forest            28        258249
2            Tower Hamlets            28        254096
3                 Havering            28        237232
4                  Lambeth            28        303086
5                Islington            27        206125
6                   Barnet            26        356386
7                   Ealing            25        338449
8                  Bromley            25        309392
9                  Enfield            25        312466
10                  Newham            23        307984
11                 Croydon            23        363378
12              Hillingdon            22        273936
13                Lewisham            22        275885
14             Westminster            19        219396
15                   Brent            19        311215
16                  Camden            19        220338
17                 Hackney            19        246270
18                Haringey            19        254926
19                Hounslow            16        253957
20    Barking And Dagenham            15        185911
21               Redbridge            15        278970
22  Kensington And Chelsea            14        158649
23               Greenwich            14        254557
24                  Sutton            14        190146
25  Hammersmith And Fulham            14        182493
26    Kingston Upon Thames            11        160060
27                  Merton            11        199693
28    Richmond Upon Thames             9        186990
29                  Bexley             9        231997
30              Wandsworth             9        306995
31                  Harrow             7        239056
32          City Of London             3          7375

### Task 3: The power of LEFT JOIN

An `INNER JOIN` only shows records that exist in **both** tables. But what if we want to show every area in the census data, and only add the rescue data if itâ€™s available?

In that case we'd need a `LEFT JOIN`. This join is used when you want to keep all the records from the "left" table, even if there are no matches in the "right" table.
- If a match is found in the right table, the rows are combined normally.
- If there is no match, the columns from the right table will simply show as NULL.

<br>

![img_left_join](img_left_join.png)

Let's start by looking for rows in the census data that do not have a match in the rescue data. We'll use a `LEFT JOIN` for that.

> ðŸ’¡ **AI Prompting Tip**: Use words like "all records from" or "everything in Table A" to signal a LEFT JOIN to the AI.

In [1]:
SELECT
    c.*,
    a.nb_incidents,
    a.total_nb_units_deployed,
    a.total_service_duration_hrs,
    a.avg_hourly_cost
FROM
    census_data c
LEFT JOIN
    animal_rescues_summary a
ON
    c.area_code = a.area_code;

     area_code                area  ... total_service_duration_hrs  avg_hourly_cost
0    E07000223                Adur  ...                        NaN              NaN
1    W06000001            Anglesey  ...                        NaN              NaN
2    E07000026           Allerdale  ...                        NaN              NaN
3    E07000032        Amber Valley  ...                        NaN              NaN
4    E07000224                Arun  ...                        NaN              NaN
..         ...                 ...  ...                        ...              ...
343  E07000101           Stevenage  ...                        NaN              NaN
344  E07000104     Welwyn Hatfield  ...                        NaN              NaN
345  E07000097  East Hertfordshire  ...                        NaN              NaN
346  E07000100           St Albans  ...                        NaN              NaN
347  E08000020           Gateshead  ...                        NaN              NaN

[348 rows x 12 columns]

Let's identify the areas without any rescue data. Select only the area, number of residents and number of incidents and filter for areas without rescue data.

In [3]:
SELECT
    c.area,
    c.nb_residents,
    a.nb_incidents
FROM
    census_data c
LEFT JOIN
    animal_rescues_summary a
ON
    c.area_code = a.area_code
WHERE
    a.area_code IS NOT NULL;

                      area  nb_residents  nb_incidents
0     Barking And Dagenham        185911            15
1                    Brent        311215            19
2                   Bexley        231997             9
3                   Barnet        356386            26
4                  Bromley        309392            25
5                   Camden        220338            19
6                  Croydon        363378            23
7                   Ealing        338449            25
8                  Enfield        312466            25
9                Greenwich        254557            14
10                Havering        237232            28
11                 Hackney        246270            19
12              Hillingdon        273936            22
13  Hammersmith And Fulham        182493            14
14                Hounslow        253957            16
15                  Harrow        239056             7
16                Haringey        254926            19
17               Islington        206125            27
18  Kensington And Chelsea        158649            14
19    Kingston Upon Thames        160060            11
20                 Lambeth        303086            28
21                Lewisham        275885            22
22          City Of London          7375             3
23                  Merton        199693            11
24                  Newham        307984            23
25               Redbridge        278970            15
26    Richmond Upon Thames        186990             9
27                  Sutton        190146            14
28               Southwark        288283            34
29           Tower Hamlets        254096            28
30          Waltham Forest        258249            28
31              Wandsworth        306995             9
32             Westminster        219396            19

### Task 4: Metrics from joined data

The individual boroughs would like to know how much money they are spending on rescues per resident. Let's combine population data with cost to find a ratio: **rescue cost per resident.**

> ðŸ’¡ **AI Prompting Tip**: Describe the formula step-by-step. AI often struggles if you just say "calculate the cost." Instead, tell it which columns to multiply and what to name the result.

In [6]:
SELECT
    c.area_code,
	a.avg_hourly_cost,
    (a.avg_hourly_cost * a.total_service_duration_hrs) AS total_cost,
    (a.avg_hourly_cost * a.total_service_duration_hrs) / NULLIF(c.nb_residents, 0) AS avg_cost_per_resident
FROM
    census_data c
INNER JOIN
    public.animal_rescues_summary a
ON
    c.area_code = a.area_code

    area_code  avg_hourly_cost  total_cost  avg_cost_per_resident
0   E09000002            260.0      4940.0               0.026572
1   E09000005            260.0      5460.0               0.017544
2   E09000004            260.0      2860.0               0.012328
3   E09000003            260.0      9100.0               0.025534
4   E09000006            260.0      7540.0               0.024370
5   E09000007            260.0      5460.0               0.024780
6   E09000008            260.0      6500.0               0.017888
7   E09000009            260.0      7280.0               0.021510
8   E09000010            260.0      8580.0               0.027459
9   E09000011            260.0      4160.0               0.016342
10  E09000016            260.0      9620.0               0.040551
11  E09000012            260.0      5200.0               0.021115
12  E09000017            260.0      7540.0               0.027525
13  E09000013            260.0      3640.0               0.019946
14  E09000018            260.0      4680.0               0.018428
15  E09000015            260.0      1820.0               0.007613
16  E09000014            260.0      5460.0               0.021418
17  E09000019            260.0      7800.0               0.037841
18  E09000020            260.0      4160.0               0.026221
19  E09000021            260.0      3900.0               0.024366
20  E09000022            260.0      8060.0               0.026593
21  E09000023            260.0      5980.0               0.021676
22  E09000001            260.0      1040.0               0.141017
23  E09000024            260.0      2860.0               0.014322
24  E09000025            260.0      7020.0               0.022793
25  E09000026            260.0      4160.0               0.014912
26  E09000027            260.0      2340.0               0.012514
27  E09000029            260.0      4940.0               0.025980
28  E09000028            260.0     11180.0               0.038781
29  E09000030            260.0      9360.0               0.036836
30  E09000031            260.0     12740.0               0.049332
31  E09000032            260.0      2860.0               0.009316
32  E09000033            260.0      5720.0               0.026072

Let's clean that up by only including two decimals and ordering it. Who pays the most per residents?

In [8]:
SELECT
    c.area_code,
	c.nb_residents,
    a.avg_hourly_cost,
    (a.avg_hourly_cost * a.total_service_duration_hrs) AS total_cost,
    ROUND((a.avg_hourly_cost * a.total_service_duration_hrs) / NULLIF(c.nb_residents, 0), 2) AS avg_cost_per_resident
FROM
    census_data c
INNER JOIN
    public.animal_rescues_summary a
ON
    c.area_code = a.area_code
ORDER BY
    avg_cost_per_resident DESC;

    area_code  nb_residents  avg_hourly_cost  total_cost  avg_cost_per_resident
0   E09000001          7375            260.0      1040.0                   0.14
1   E09000031        258249            260.0     12740.0                   0.05
2   E09000019        206125            260.0      7800.0                   0.04
3   E09000016        237232            260.0      9620.0                   0.04
4   E09000030        254096            260.0      9360.0                   0.04
5   E09000028        288283            260.0     11180.0                   0.04
6   E09000002        185911            260.0      4940.0                   0.03
7   E09000003        356386            260.0      9100.0                   0.03
8   E09000010        312466            260.0      8580.0                   0.03
9   E09000017        273936            260.0      7540.0                   0.03
10  E09000020        158649            260.0      4160.0                   0.03
11  E09000022        303086            260.0      8060.0                   0.03
12  E09000029        190146            260.0      4940.0                   0.03
13  E09000033        219396            260.0      5720.0                   0.03
14  E09000018        253957            260.0      4680.0                   0.02
15  E09000025        307984            260.0      7020.0                   0.02
16  E09000011        254557            260.0      4160.0                   0.02
17  E09000009        338449            260.0      7280.0                   0.02
18  E09000012        246270            260.0      5200.0                   0.02
19  E09000006        309392            260.0      7540.0                   0.02
20  E09000013        182493            260.0      3640.0                   0.02
21  E09000014        254926            260.0      5460.0                   0.02
22  E09000008        363378            260.0      6500.0                   0.02
23  E09000021        160060            260.0      3900.0                   0.02
24  E09000005        311215            260.0      5460.0                   0.02
25  E09000023        275885            260.0      5980.0                   0.02
26  E09000007        220338            260.0      5460.0                   0.02
27  E09000015        239056            260.0      1820.0                   0.01
28  E09000026        278970            260.0      4160.0                   0.01
29  E09000027        186990            260.0      2340.0                   0.01
30  E09000004        231997            260.0      2860.0                   0.01
31  E09000024        199693            260.0      2860.0                   0.01
32  E09000032        306995            260.0      2860.0                   0.01

Let's do something a little trickier. We'll do the same calculation, but now instead of by borough let's do it for the entire region. We'll need to use an aggregation to solve that question!

In [9]:
SELECT
    c.region,
    SUM(a.avg_hourly_cost * a.total_service_duration_hrs) AS total_cost,
    SUM(c.nb_residents) AS total_nb_residents,
    ROUND(
        SUM(a.avg_hourly_cost * a.total_service_duration_hrs) / NULLIF(SUM(c.nb_residents), 0),
        2
    ) AS avg_cost_per_resident
FROM
    census_data c
INNER JOIN
    public.animal_rescues_summary a
ON
    c.area_code = a.area_code
GROUP BY
    c.region
ORDER BY
    avg_cost_per_resident DESC;

   region  total_cost  total_nb_residents  avg_cost_per_resident
0  London    193960.0             8173941                   0.02

### Task 5: Filtering groups with HAVING

Remember: `WHERE` filters rows *before* they are grouped. `HAVING` filters the results *after* the aggregation.

<br>

![img_where_vs_having](img_where_vs_having.png)

Let's start by filtering for UK boroughs with more than 80,000 residents between 0 and 14 years old.

> ðŸ’¡ **AI Prompting Tip**: Typically, the AI is pretty good at identifying the correct clause to use. If you do find it struggling, you can specify timing in your prompt. Tell the AI to filter "individual rows" to trigger a `WHERE` clause, and filter the "final calculated results" to trigger a `HAVING` clause.

In [13]:
SELECT *
FROM census_data
WHERE nb_residents IS NOT NULL
  AND age_0_to_14 > 80000;

   area_code           area  ... age_25_to_64  age_over_65
0  E08000025     Birmingham  ...       530720       138213
1  E08000032       Bradford  ...       267096        69392
2  E06000052       Cornwall  ...       273464       115241
3  E06000047  County Durham  ...       270373        92345
4  E08000034       Kirklees  ...       221400        64150
5  E08000035          Leeds  ...       388586       109598
6  E08000003     Manchester  ...       258468        47544
7  E08000019      Sheffield  ...       274050        85698
8  E06000054      Wiltshire  ...       246728        85488

[9 rows x 8 columns]

Now, let's first aggregate and then filter. Find regions with more than 100,000 residents over 65 years old.

In [14]:
SELECT region, SUM(age_over_65) AS total_over_65
FROM census_data
GROUP BY region
HAVING SUM(age_over_65) > 100000;

                      region  total_over_65
0                 South East        1482020
1                       None         457456
2            East of England         865360
3                      Wales         562544
4                 North East         350936
5                 North West        1171155
6                     London         904749
7                 South West         850353
8   Yorkshire and The Humber         874571
9              West Midlands         945975
10             East Midlands         757954

Let's update that query to exclude the City Of London and order it appropriately.

In [16]:
SELECT region, SUM(age_over_65) AS total_over_65
FROM census_data
WHERE region <> 'City of London'
GROUP BY region
HAVING SUM(age_over_65) > 100000
ORDER BY total_over_65 DESC;

                     region  total_over_65
0                South East        1482020
1                North West        1171155
2             West Midlands         945975
3                    London         904749
4  Yorkshire and The Humber         874571
5           East of England         865360
6                South West         850353
7             East Midlands         757954
8                     Wales         562544
9                North East         350936

### ðŸš€ Moving forward

AI is an incredible "Junior Developer," but it needs you to be a clear "Lead Architect." As you continue your AI data journey, keep these strategies in mind:

- **Deconstruct to construct**: For complicated requests, break the query into pieces! Don't ask the AI for a 50-line query at once. Ask for the join first, verify the data, and then prompt the AI to add aggregations or complex math.
- **Be the editor**: Always scrutinize the AIâ€™s output. Check that itâ€™s using the correct table aliases and watch out for "hallucinated" column names that don't exist in your schema.
- **The error loop**: If the AI gives you an error, don't give up. Copy and paste the exact error message back into the prompt. The AI is often better at fixing its own mistakes than writing perfect code on the first try.
- **Context is king**: Always start your session by telling the AI exactly which tables and columns you have. The better the AI understands your "world," the better its code will be.

Great job today! You are now ready to blend disparate data sources and find hidden insights using the power of AI.